# Dependencies
node_modules/

# Build
dist/

# Environment variables - NE JAMAIS COMMITER
.env
.env.local
.env.production

# Prisma
prisma/migrations/dev.db
prisma/*.db

# Docker
docker-compose.override.yml
.docker/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo